.slick-prev:before,
.slick-next:before {
  color: #002d72;
}
.slick-prev,
.slick-next {
  width: 22px;
  height: 22px;
}
.slick-track {
  display: flex;
  padding-left: 6px;
  
}
.slick-track > :not(:first-child) {
  margin-left: 44px;
}
.slick-track > :last-child {
  margin-right: 4px;
}
